body {
  font-family: "Josefin Sans", sans-serif;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
footer a {
  color: rgb(152, 82, 210);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 700px;
}

.weather-app {
  padding: 40px;
  margin: 20px auto;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(199, 137, 205, 0.7) 55%,
    rgb(152, 82, 210) 100%
  );
  color: white;
}

.search-form {
  margin-bottom: 20px;
  color: black;
}

.submit {
  padding: 4px 12px;
  background-color: white;
  border-radius: 60px;
  border-color: 0;
  border-style: outset;
  color: rgb(152, 82, 210);
  transition: all 150ms ease-in-out;
}

.submit:hover {
  background-color: rgb(230, 230, 230);
}

.city {
  margin-top: 25px;
  font-weight: 900;
  font-size: 60px;
}
.sub-heading {
  margin-top: -10px;
  opacity: 0.8;
  text-transform: capitalize;
}
.weather-icon {
  display: block;
  margin: 20px auto;
  width: 130px;
  max-width: 100%;
}
.current-temp {
  margin-top: -25px;
  margin-bottom: 10px;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.unit {
  vertical-align: 175%;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: bold;
}

.unit a {
  color: rgb(152, 82, 210);
}
.current-conditions {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.future-forecast {
  text-align: center;
  margin-top: 10px;
}
.day-forecast {
  margin: auto 8px;
  font-size: 18px;
  font-weight: 800;
}
#forecast-min {
  opacity: 0.8;
}
@media (max-width: 900px) {
  footer {
    margin-top: -10px;
    font-size: 10px;
  }
  .weather-app {
    padding: 25px;
  }
  .search-form {
    margin: 0 0 10px 0;
  }
  .submit {
    margin: 0;
    padding: 4px 10px;
  }

  .city {
    margin-top: 15px;
    font-size: 40px;
    line-height: normal;
  }
  .sub-heading {
    opacity: 0.8;
    font-size: 8px;
  }

  .weather-icon {
    margin: 70px auto 0 auto;
    text-align: center;
  }
  .current-temp {
    font-size: 60px;
    margin-top: -70px;
    padding-left: 20px;
  }
  .unit {
    vertical-align: 180%;
    font-size: 16px;
    margin-left: 5px;
  }
  .current-conditions {
    list-style: none;
    padding: 0;
    margin: -5px 0 0 0;
    font-size: 10px;
  }
  .future-forecast {
    margin-top: 10px;
  }
  .day-forecast {
    margin: 0;
    padding: 0;
  }
  #forecast-min,
  #forecast-max {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .submit {
    padding: 4px 2px;
  }
  .city {
    font-size: 35px;
  }
  .sub-heading {
    font-size: 8px;
  }
  .current-temp {
    margin-top: -40px;
    padding-left: 10px;
    font-size: 55px;
  }
  .unit {
    font-size: 12px;
    vertical-align: 170%;
  }
  .weather-icon {
    margin-top: 55px;
  }
  .current-conditions {
    margin-left: -15px;
    margin-top: -2px;
  }
  .future-forecast {
    margin-top: 20px;
  }
  .day-forecast {
    margin: 0 5px 5px;
  }
}
